-content_for :head do
  - provide :title, 'Confirmation'

.clearfix
  .w-96.mx-auto
    .Box
      .Box-header.clearfix
        .Box-title.w-16.mx-auto
          Confirmation
      .Box-body.px-8.py-6
        = form_for(:session, url: confirm_path) do |f|

          = f.hidden_field :name, class: 'form-control', value: current_user.name
          .cleafix
            .col-6.mx-auto.mb-4
              = f.label :password, class: 'block mb-2'
              = f.password_field :password, class: 'border rounded w-full'

          .form-actions
            = f.submit 'Confirm', class: "w-full justify-center rounded-md border border-transparent shadow-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
