= form_for(@source, remote: true, html: { "data-type" => 'json' }) do |f|
  -# = f.label :file, 'file'
  = f.file_field :file, direct_upload: true, class: 'btnx'
  = f.hidden_field :task_id, value: @task_id
  = f.submit "Submit", class: "justify-center rounded-md border border-transparent shadow-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500", 'data-close-dialog': true
  - id = 1
  %div
    %div{ id: "direct-upload-#{id}", class: "direct-upload direct-upload--pending", style: 'width: 500px; height: 20px' }
      %div{ id: "direct-upload-progress-#{id}", class: "direct-upload__progress", style: "width: 0%" }
      %span{ class: "direct-upload__filename" }
