-content_for :head do
  = javascript_include_tag "nodes"
  = javascript_include_tag 'glgc'

.ntl-home
  %h1.GLGTitleLabel
    Name That Word!

  .game-welcome
    .welcome-left
      .welcome-text
        Welcome!
      %div
        = button_to "Play Now", "/ntl/play"
    .welcome-right
      Can you correctly identify words from an audio clip?

  - text = {}
  -content_for :action_specific_js do
    != "ldc_glgc.init(#{text.to_json});"
